{% extends "base.html" %}
{% block content %}
<h2>Changes</h2>

<a href="/changes/new">New incident</a>

<table>
    <tr>
        <th>change 1</th>
        <th>change 2</th>
        <th>change 3</th>
        <th>change 4</th>
    </tr>
    {% for i in incidents %}
    <tr>
        <td><a href="/incidents/{{ i.id }}">{{ i.title }}</a></td>
        <td>{{ i.severity }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.system.name if i.system }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}